body {
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
}

header {
    width: 100%;
}

header img {
    width: inherit;
}

div#checkbox {
    margin-left: 1%;
    width: 20%;
    height: 20%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.788);
    margin-top: 10%;
    padding-bottom: 2%;
}

div#checkbox h2 {
    
    text-align: center;
    text-decoration: underline;
}

div#checkbox label {
    margin-left: 3%;
    width: 20%;
}

div#calendar {
    margin-left: 1%;
    width: 75%;
}


div.legend{
    float: right;
    width: 10px;
    height: 10px;
    margin-right: 8%;
    border: 1px solid;
}

.academic {
    background: #E6194B;
}

.art-culture {
    background: #3CB44B;
}

.athletic-recreation {
    background: #AA6E28;
}

.campus-life {
    background: #0082C8;
}

.community {
    background: #F58231;
}

.meet-lec-work {
    background: #991EB4;
}

